@model IEnumerable<PizzaApp.Models.Wholesaler>

@{
	ViewData["Title"] = "Your wholesalers";
}

<div class="row">
	<div class="col-10">
		<h1>Your wholesalers</h1>
	</div>
	<div class="col-2">
		<a class="btn btn-outline-success" style="top: 10px; position: absolute; width: 80%" asp-action="Create">Create New</a>
	</div>
</div>

<table class="table table-hover">
	<thead>
		<tr style="width: 100%">
			<th style="width: 20%">
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th style="width: 20%">
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th style="width: 20%">
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th style="width: 20%">
				@Html.DisplayNameFor(model => model.Telephone)
			</th>
			<th style="width: 20%"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr style="width: 100%">
				<td style="width: 20%">
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td style="width: 20%">
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td style="width: 20%">
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td style="width: 20%">
					@Html.DisplayFor(modelItem => item.Telephone)
				</td>
				<td style="width: 20%">
					<a class="btn btn-outline-warning" style="width: 40%" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
					<a class="btn btn-outline-danger" style="width: 40%" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
