@model PizzaApp.Models.RestaurantIngredient

@{
    ViewData["Title"] = "Details";
}

<div class="row">
	<div class="col-10">
		<h1>Details</h1>
	</div>
	<div class="col-2">
		<a class="btn btn-outline-dark" style="top: 10px; position: absolute; width: 80%" asp-action="Index" asp-route-restaurantId="@Model.RestaurantId">Return</a>
	</div>
</div>

<div>
    <h4>RestaurantIngredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
