@model IEnumerable<PizzaApp.Models.RestaurantIngredient>

@{
	ViewData["Title"] = "Index";

	var restaurant = ViewData["CurrentRestaurant"] as PizzaApp.Models.Restaurant;
}

<div class="row">
	<div class="col-8">
		<h1>@restaurant.Name</h1>
	</div>
	<div class="col-2">
		<a class="btn btn-outline-success" style="top: 10px; position: absolute; width: 80%"
		   asp-action="Create" asp-route-restaurantId="@restaurant.Id">Add</a>
	</div>
	<div class="col-2">
		<a class="btn btn-outline-dark" style="top: 10px; position: absolute; width: 80%"
		   asp-controller="Restaurants" asp-action="Index">Return</a>
	</div>
</div>

<table class="table">
	<thead>
		<tr style="width: 100%">
			<th style="width: 30%">
				@Html.DisplayNameFor(model => model.Ingredient)
			</th>
			<th style="width: 20%">
				@Html.DisplayNameFor(model => model.Quantity)
			</th>
						<th style="width: 30%"></th>
			<th style="width: 20%"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr style="width: 100%">
				<td style="width: 30%">
					@Html.DisplayFor(modelItem => item.Ingredient.Name)
				</td>
				<td style="width: 20%">
					@Html.DisplayFor(modelItem => item.Quantity)
				</td>
				<td style="width: 30%"></td>
				<td style="width: 20%">
					<div class="btn-group btn-group-toggle" style="bottom: 4px">
						<a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
						<a class="btn btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
